html,body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.bar-top {
    padding: 6px;
    background-color: #97CF4E;
}

h1 {
    font-size: 1.7rem;
}

.sub-titulo {
    font-size: 1rem;
    font-weight: bold;
}

.conteiner {
    padding: 50px 10% 0% 10%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.btn-pc {
    display: none;
}

@media (min-width: 1000px) {
    .btn-cel {
        display: none;
    }

    .btn-pc {
        display: inherit;
    }
}

#comeco {
    background-image: url(img/Bg-Topo.png);
}

.scroll{
    transform:translateY(-50%);
    display: inherit;
}

.pc {
    display: none;
}

.mobile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    .mobile {
        text-align: left;  
        margin-left: 0;
        margin-right: 0;
    }

    .pc {
        display: inherit;
    }
}

hr {
    border: 0rem;
    height: 0.3rem;
    background: #94A820;
}

.cor {
    color: #94A820;
}

#fim {
    background-image: url(img/Pattern.png);
}

.lista {
    list-style-type: none;
}

.roda-pe {
    background-color: #25472D;
    color: #94A820;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
}

.roda-pe p {
    font-size: 15px;
}